# dependencies
node_modules/

# next.js
.next/
out/

# env
.env*
!.env.local.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# macOS
.DS_Store
